@keyframes animate{
    from{
 
    }
    to{
       transform: translate3d(500px, 100px, 100px) rotate(360deg) scale(2, 0.2);
    }
 }
 
 
 
 .box{
    transform: translate();
    width: 500px;
    height: 300px;
    border-top:solid 5px green;
    border-bottom:solid 5px red;
    border-left:solid 5px blue;
    border-right:solid 5px yellow;
    border-radius: 50%;
    background-color: burlywood;
    /* margin: auto; */
    /* transform: translate(500px, 100px) rotate(70deg); */
    /* transform: rotate(70deg); */
    animation-name: animate;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
 }