.table{
    border: solid 2px rgb(128, 128, 128);
    width: 600px;
    height: 320px;
    margin: auto;
}
.table td{
    border: solid 2px rgb(128, 128, 128);
    width: 100px;
    height: 50px;
}
.table1 td{
    height: 12px;
}
.table2 td{
    height: 22px;
    background-color: rgb(107, 0, 0);
}