.table{
    border: solid 5px rgb(61, 0, 0);
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}
.table td, th{
    border: solid 4px rgb(223, 11, 11);
    width: 100px;
    height: 50px;
}