.buttonn{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 150px;
    font-size: 1.2em;
}
.result{
    border: red 1px solid;
    height: 30px;
    width: 148px;
    position: absolute;
    left: 25px;
    top: 190px;
}