.div{
    border: 1px black solid;
    height: 300px;
    width: 450px;
    padding: 10px;
    position: relative;
    top: 50px;
}
.box{
    border: dashed 2px rgb(27, 27, 27);
    background-color: rgb(228, 228, 228);
    height: 20px;
    width: 135px;
    padding: 8px;
    text-align: left;
    margin-top: 12px;
    margin-left:150px;
    cursor: move;
}
img{
    height: 250px;
    width: 160px;
    position: absolute;
    left: 25px;
    top: 15px;
}