.border{
    border: black solid 3px;
    height: 700px;
    width: 1100px;
    position: relative;
}
.header{
    border: solid black 1px;
    height: 190px;
    width: 1100px;
    position: absolute;
}
.headerr{
    border: solid rgb(218, 218, 218) 1px;
    height: 36px;
    width: 1096px;
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(to right, rgb(119, 119, 119) , rgb(241, 241, 241));
}
.gradienti{
    background-image: linear-gradient(to right, rgb(31, 31, 31) , rgb(94, 94, 94));
    border: solid 0px;
    height: 152px;
    width: 1100px;
    position: absolute;
}
.text{
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, #d80b0b  100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px rgb(255, 0, 0));
    position: absolute;
}
.t{
    border: solid 0.1px rgb(218, 218, 218);
    width: 200px;
    height: 36px;
    position: absolute;
    text-align: center;
    font-size: 17px;
}
.marcxena{
    border: solid black 1px;
    height: 480px;
    width: 250px;
    position: absolute;
    left: 0px;
    bottom: 26px;
    background-color: rgb(212, 212, 212);
    text-align: left;
}
.d{
    border: solid rgb(185, 185, 185) 0.5px;
    height: 25px;
    width: 248px;
}
.web{
    background-color: rgb(97, 1, 1);
    height: 180px;
    width: 240px;
    position: absolute;
    left: 5px;
    top: 190px;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 50px 0;    
}
.footer{
    border: solid black 1px;
    height: 25px;
    width: 1100px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(119, 119, 119) , rgb(241, 241, 241));

}
.main{
    position: absolute;
    right: 0px;
    border: solid black 0.1px;
    height:472px;
    width: 838px;
    bottom: 26px;
    text-align: left;
    padding: 5px;
}
.feri{
    color: rgb(145, 0, 0);
}
a{
    color: black;
}