.head{
    position: absolute;
    top: 20px;
    left: 300px;
}
a{
    text-decoration: none;
    color: black;
    padding: 15px;
    display:inline-block;
}
ul {
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
ul li a:hover {
    color: rgb(0, 145, 0);
    text-decoration: underline;
}
ul li ul li a {
    display:block !important;
} 
ul li ul li:hover {
    background: rgb(184, 184, 184);
}
ul li ul li { 
    background: white; 
    display: block; 
  }
ul li:hover ul {
    display: block;
}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
    border: green 3px solid;
}
.search{
    border: solid gray 1px;
}
.k{
    position: absolute;
    left: 280px;
    top: 260px;
}
.pic{
    height: 180px;
    width:220px;
    position: absolute;
    top: 250px;
    left: 530px;
}