.div{
    height: 500px;
    width: 1050px;
    border: solid 2px black;
    position: relative;
    margin: auto;
}
.box1{
    position: absolute;
    left: 0px;
    top:0px;
}
.box2{
    position: absolute;
    top: 0px;
    right: 0px;
}
.box3{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.box4{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.box5{
    position: absolute;
    top: 50px;
    left: 230px;
    z-index: 1;
}
.box6{
    position: absolute;
    top: 100px;
    left: 270px;
    z-index: 2;
}
.box7{
    position: absolute;
    top: 200px;
    left: 373px;
    z-index: 4;
}
.box8{
    position: absolute;
    top: 150px;
    left: 320px;
    z-index: 3;
}
.box9{
    position: absolute;
    top: 200px;
    right: 373px;
    z-index: 8;
}
.box10{
    position: absolute;
    top: 150px;
    right: 320px;
    z-index: 7;
}
.box11{
    position: absolute;
    top: 50px;
    right: 230px;
    z-index: 5;
}
.box12{
    position: absolute;
    right: 270px;
    top: 100px;
    z-index: 6;
}