div{
    width: 400pc;
    min-height: 250px;
    border: solid 10px red;
    margin: auto;
}
.div2{
    padding-top: 30px;
    padding-left: 50px;
    box-sizing: border-box;
    padding-bottom: 70px;
}
.div1{
    /*padding: 30px 50px 70px 90px;*/
    padding: 50px;
}