@keyframes mwvane{
    from{background-color: green;height: 100px;width: 100px;transform: rotate(180deg);}
    to{background-color: red;height: 100px;width: 260px;left: 500px;}
}
.mwvane{
    border: solid 1px;
    height: 100px;
    width: 100px;
    animation-name: mwvane;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    background-color: green;
    position: absolute;
    left: 470px;
    top: 120px;
}
@keyframes lurji{
    from{background-color: blue;height: 100px;width: 100px;transform: rotate(270deg);}
    to{background-color: green;height: 100px;width: 290px;left: 180px;}
}
.lurji{
    border: solid 1px;
    height: 100px;
    width: 100px;
    animation-name: lurji;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    background-color: blue;
    position: absolute;
    left: 350px;
    top: 120px;
}
.border{
    border: 0px solid;
    height: 400px;
    width: 900px;
    position: relative;
    background-color: rgb(219, 219, 219);
}