@media only screen and (min-width:600px){
    body{

    }
    .border{
        width: 99%;
        height:700px;
        border:wheat solid 0px ;
    }
    .header{
        height: 6%;
        width: 99%;
        border: solid 0px;
    }
    .lifele{
        font-size:30px ;position: absolute; left: 400px;
    }
    .main{
        height: 93%;
        width: 99%;
        border: solid wheat 0px;
        position: relative;
    }
    .pic1{
        position: absolute;
        left: 0px;
        height: 80%;
        width: 33%;
    }
    .pic2{
        position: absolute;
        left: 33.5%;
        height: 80%;
        width: 33%;
    }
    .pic3{
        position: absolute;
        right:  0px;
        height: 80%;
        width: 33%;
    }
    .box{
        background-color: whitesmoke;
        border: solid 0px;
        height: 150px;
        width: 350px;
        position: absolute;
        top:450px;
    }
    .box1{
        left: 4.5%;
    }
    .box2{
        left: 38%;
    }
    .box3{
        left: 72%;
    }
    .txt1{
        color: red; margin-top: 25px; font-size: small;
    }
    .txt2{
        font-size: larger; margin-top: 6px; 
    }
    .txt3{
        color: grey; font-size: small; margin-top:6px;
    }

}
@media only screen and (max-width:768px){
    body{
        background-color: white;
    }
    .border{
        width: 100%;
        height: 800px;
        border:wheat solid 0px ;
    }
    .header{
        height: 8%;
        width: 100%;
        border: solid 0px;
    }
    .lifele{
        font-size:30px ;position: absolute; left: 8px;
    }
    .main{
        height: 100%;
        width: 99%;
        border: solid wheat 0px;
        position: relative;
    }
    .pic1{
        position: absolute;
        left: 0px;
        height: 40%;
        width: 48%;
    }
    .pic2{
        position: absolute;
        left: 50%;
        height: 40%;
        width: 49%;
    }
    .pic3{
        position: absolute;
        height: 40%;
        width: 75%;
        top: 60%;
        left: 15%;
    }
    .box{
        background-color: transparent;
        border: solid 0px;
        height: 150px;
        width: 350px;
        position: absolute;
        top: 42%;
    }
    .box1{
        left: 4.5%;
    }
    .box2{
        left: 55%;
    }
    .box3{
        left: 35%;
        top: 102%;
    }
    .txt1{
        color: red;font-size: small;
        position: absolute;
        top: 0px;
        left: 16%;
    }
    .txt2{
        font-size: larger; 
        position: absolute;
        top: 31px;
    }
    .txt3{
        color: grey; font-size: small;
        position: absolute;
        top: 80px;
        left: 14%;
    }
}