table {
    border: solid 1px black;
    width: 1050px;
    height: 140px;
    position: absolute;
    top: 30px;
    left: 420px;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

td {
    border: solid 1px black;
}